Feature Enginnering (变量衍生)
===

### 导入必要的库

In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算

# 数据读取

In [2]:
data = pd.read_csv("../input/titanic.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#  衍生变量

在数据分析的过程中,有时我们需要根据已有的列生成新的一列.

`特征工程` 是从数据建模中借用过来的一个概念. 它是指 在已有数据上去衍生出根据目标指向性的变量, 已提升最终的模型效果的过程.

同样,在数据分析中, 我们也需要在已有数据的基础上去加工出新的列.  

下面具体我将从衍生变量`依赖的变量数据目`,来介绍.

学习本节你可能需要掌握一些基础的 python 操作.
也就是会 对字符串\数字 基本的处理.

Pandas 列的生成有一种通用的方式: 

将针对特定元素的函数应用到 某个列的全部元素上,并生成一个新的列.
**达到目的的方式有很多种,对于初学者, 我们只需要掌握最常用,最普适的方式!**

In [6]:
# 单变# 单变量
data['new_col1'] = data['old_cols'].apply(lambda x:func1(x))
# 多变量
data['new_col2'] = data.apply(lambda x:func2(x['old_cols1'],x['old_cols2']),axis=1)
# 依赖3个或者更多也是一样

## 1 单变量

当仅仅依赖一个列变量进行加工时.

## 1.1 文本字符串

这里全当复习一遍 Python 的字符串操作基础. 
对于文本字符串,常用的操作有以下几类:

1. 替换   
2. 提取
    - 按位置
    - 正则表达式
3. 拼接       # eg:  "Hello" + "World"
4. 大小写转换    
    
前两种操作,其实都可以用正则表达式来实现.
[正则菜鸟教程](https://www.runoob.com/python/python-reg-expressions.html)

我常用的函数 替换:re.sub;提取:re.findall

###  1.1.1 字符串操作

#### 1.1.1.1 用正则表达式提取 Name中的头衔

In [7]:
import re

In [ ]:
# 替换
def sub_name(name):
    result = re.sub("\s","",name)
    return result

In [ ]:
# 提取
def process_name(name):
    result = re.findall("([A-Za-z]+)\.",name)[0]
    return result

# # 提取前三位字母
# def cut_name(name):
#     result = name[0:3]
#     return result

In [ ]:
# 拼接
# def concat_name(name):
#     result = "[" +name + "]"
#     return result

In [ ]:
# 大小写转换
# lower() / upper()

# def lower_name(name):
#     result = name.lower()
#     return "result

In [23]:
#调用 apply函数 
# findall()[0] 返回列表
data['title']=data['Name'].apply(lambda x:process_name(x))

In [17]:
# 因为处理方式,比较简单.也可以采用匿名函数的方式实现.
# 但我更偏好,上一种, 在处理内容比较多时,代码更具可读性
# data['Initial']=data['Name'].apply(lambda x: re.findall("([A-Za-z]+)\.",x)[0])

In [34]:
data['title'].value_counts(dropna=False)

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Lady          1
Countess      1
Sir           1
Ms            1
Capt          1
Don           1
Jonkheer      1
Mme           1
Name: title, dtype: int64

你可以尝试将这些方法,依次运行,看看结果.加深下印象.

其实, 对于字符串的操作远不止这些.还是要看你具体的需求是什么?

记住,学以致用!!

## 1.2 离散型

对于类别型变量的常规操作有:
1. 类别合并
2. 类别编码,如将字符串的类别转化为数字等

### 1.2.1.类别合并

可以通过构造一个字典进行映射,也可以写一个包含if...else...函数.下面分别介绍.

#### 1.2.1.1 对title 列变量进行归类合并

In [41]:
#map 替换有多个类型 情况
title_dict = {
        "Capt":       "Rare",
        "Col":        "Rare",
        "Major":      "Rare",
        "Jonkheer":   "Rare",
        "Don":        "Rare",
        "Sir" :       "Rare",
        "Dr":         "Rare",
        "Rev":        "Rare",
        "Countess":   "Rare",
        "Dona":       "Rare",
        "Mme":        "Mrs",
        "Mlle":       "Miss",
        "Ms":         "Mrs",
        "Mr" :        "Mr",
        "Mrs" :       "Mrs",
        "Miss" :      "Miss",
        "Master" :    "Master",
        "Lady" :      "Rare"
}

In [42]:
data['title_new'] = data['title'].map(title_dict)

In [51]:
data['title_new'].value_counts(dropna=False)

Mr        517
Miss      184
Mrs       127
Master     40
Rare       23
Name: title_new, dtype: int64

如果字典中注释掉, "Lady" : "Royalty" 映射结果会有什么不同?

##### 注:对于字典没出现的值,map 后会变成空

但是当如果需要替换的不是很多的情况下,可以通过replace方法实现.

In [55]:
# rare_title2= ['Dr', 'Rev', 'Col', 'Major', 'Capt', 'the Countess', 'Jonkheer', 'Sir', 'Lady', 'Don']
# data['title2'] = data['title'].replace(rare_title2, 'Rare')

#### 1.2.1.2 对 title_new 列变量转化为数值

In [52]:
# 通过函数 映射
def titile_num(title):
    if title == 'Mr':
        return 1
    elif title == 'Miss':
        return 2
    elif title == 'Mrs':
        return 3
    elif title == 'Master':
        return 4
    elif title == 'Rare':
        return 5
    else:
        return 6
    
# title_mapping ={
#     'Mr':1,
#     'Miss':2,
#     'Mrs':3,
#     'Master':4,
#     'Rare':5,
# }

In [53]:
data['title_num'] = data['title_new'].apply(lambda x: titile_num(x))
# data['title_num'] = data['title_new'].map(title_mapping)

In [54]:
data['title_num'].value_counts()

1    517
2    184
3    127
4     40
5     23
Name: title_num, dtype: int64

这么看是不是用字典映射会比较方便!

### 1.3 连续型

对于连续变量,一般的简单计算,可以直接通过定义函数就可以实现.这里不再赘述.

这里介绍一个连续变量最常用的处理方式.---- **变量分箱**

#### 1.3.1 连续型变量分箱(对Age分箱 0,16,32,48,64 分箱)

#### 1. 基于 pd.cut 切段

In [58]:
bins = [0,16,32,48,64,np.inf]
labels = [1,2,3,4,5]
data['Age_cut1']= pd.cut(data['Age'],bins = bins,labels= labels,right =False) #默认右闭

#### 对 Age 进行 5 等分

In [30]:
# 均匀分割5 等份
data['CategoricalAge'] = pd.cut(data['Age'], 5)

In [56]:
pd.cut??

#### 2.用if..else 函数 再 apply

#### 3.用条件划分 loc

这种方式 虽然也可达到目的,但可读性较差.不推荐!

In [29]:
# data_train['Age_band']=0
# data_train.loc[data_train['Age']<=16,'Age_band']=0
# data_train.loc[(data_train['Age']>16)&(data_train['Age']<=32),'Age_band']=1
# data_train.loc[(data_train['Age']>32)&(data_train['Age']<=48),'Age_band']=2
# data_train.loc[(data_train['Age']>48)&(data_train['Age']<=64),'Age_band']=3
# data_train.loc[data_train['Age']>64,'Age_band']=4
# # data_train.head(2)

### 1.3.2 类型转换

#### 1.3.2.1 将浮点型 Fare 转换为整型

In [72]:
data['Fare_int'] = data['Fare'].apply(int)

#### 1.3.2.2 将浮点型 Fare保留1位小数

In [73]:
data['Fare_1round'] =data['Fare'].apply(lambda x:round(x,1))

## 2.2 多变量

 根据多列情况进行衍生

#### 2.2..1 计算船上家庭成员数量

sibsp + parch + 1

sibsp	# of siblings / spouses aboard the Titanic

parch	# of parents / children aboard the Titanic

In [61]:
def change_fun(x,y):
    return x + y + 1

In [63]:
data['cust'] = data.apply(lambda x:change_fun(x['Pclass'],x['SibSp']),axis = 1)

### 总结

相信以上介绍的内容可以覆盖平时运用大部分场景. 大家也可以按照介绍的内容,举一反三.
有没有覆盖到的部分, 可以留言交流. 后续再做补充.