### Step1: 导入必要的库

In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import os
os.chdir('D:\\Python\\Git_test\\Data_Analysis')

### Step2:数据读取

- 文件格式: 大文件 chunk方式读取
- 数据库：sqlite MySQL MongoDB 等

### 2.1. 大文件读取

设置列名names\需要的列名usecols

In [ ]:
names = 列名
ussecols =  需要保留列
data = pd.read_csv('file.txt', header = None, names= columns, sep ='|', 
                   usecols = usecols,index_col = False,iterator = True, error_bad_lines = False)

设置迭代参数 loop\ chunksize\ chunks \count 将每块数据存在list中

In [ ]:
loop = True
chunksize = 10000
chunks = []
count = 0

循环数据读取数据,(捕捉迭代错误)

In [ ]:
while loop:
    try :
        chunk = data.get_chunk(chunksize)
        chunks.append()
        count += 1
        if count%1000 ==1:
            print(count)
            
    except StopIteration:
        loop = False
        
        print("Iteration is stopped")
    print(count)

合并chunks数据

In [ ]:
data = pd.concat(chunks,ignore_index = True)

### 2.2. 读取数据库数据

### 2.2.1  sqlite数据读取

In [ ]:
# 数据库名称复制为特定的名称 :memory:，这样就会在 RAM 中创建一个数据库
#process sql
import sqlite3
# con = sqlite3.connect(':memory:')
# conn = sqlite3.connect('test.db')
# c = conn.cursor()

In [ ]:

c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print("Table created successfully");
# conn.commit()
# conn.close()

In [ ]:
#insert 操作
c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

# conn.commit()
print("Records created successfully");
# conn.close()

In [ ]:
#select 操作
cursor = c.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")

print("Operation done successfully");
# conn.close()

In [ ]:
c.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=1")
conn.commit()
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")

print("Operation done successfully");

In [ ]:
c.execute("DELETE from COMPANY where ID=2;")

print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")

print("Operation done successfully");

In [ ]:
# data.to_sql('data', cnx)
# pd.read_sql_query("SELECT * FROM data", con)

In [ ]:
# engine = create_engine('sqlite:///:memory:')
engine = create_engine('test.db')

data_train.to_sql('data_train',engine,chunksize =1000)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# 简单的用法

#  -*- coding: utf-8 -*-  
from sqlalchemy import create_engine, MetaData  
engine = create_engine('sqlite:///test.sqlite')  
metadata = MetaData(bind=engine, reflect=True)  
conn = engine.connect()  
# 创建表  
conn.execute('CREATE TABLE IF NOT EXISTS user(name VARCHAR, password VARCHAR)')  
# 创建数据  
conn.execute('INSERT INTO user(name, password) VALUES(?, ?)', (('tom', '123'), ('john', '321')))  
# 查询  
for row in conn.execute('SELECT * FROM user'):  
    print(row.name, row['name'], row[0])
 


# 更简单的用法

#  -*- coding: utf-8 -*-  
from sqlalchemy import create_engine, MetaData  
engine = create_engine('sqlite:///test.sqlite')  
# metadata = MetaData(bind=engine, reflect=True)  
# 创建表  
engine.execute('CREATE TABLE IF NOT EXISTS user(name VARCHAR, password VARCHAR)')  
# 创建数据  
engine.execute('INSERT INTO user(name, password) VALUES(?, ?)', [('tom', '123'), ('john', '321')])  
# 查询  
for row in engine.execute('SELECT * FROM user'):  
    print(row.name, row['name'], row[0]  )

In [ ]:
#sample data

# 1.sklearn
from sklearn.utils import shuffle  
df = shuffle(df)  

# 2.pandas
df.sample(frac=0.03)

In [ ]:
import sqlite3
conn = sqlite3.connect('mytest.db')
cursor = conn.cursor()