### Step1: 导入必要的库

In [1]:
import pandas as pd #数据分析
import numpy as np #科学计算
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
import os
os.chdir('D:\\Python\\Git_test\\Data_Analysis')

## 一、数据读取

In [9]:
data = pd.read_csv("./input/pratice_data.csv",index_col = 0)

In [10]:
pd.set_option('display.max_columns',500)

In [79]:
data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,timestamp,title,genres,rating,timestamp_1,Timestamp,year,month,day,hour,minute,second,weekday,Timestamp1,date_str,week_num,data_offset1,date1,time1,Timestamp_1,time2,date2
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,03/23/2009 08:30:00,Toy Story (1995),Animation|Children's|Comedy,5,978300760,2009-03-23 08:30:00,2009,3,23,8,30,0,1,2009-03-23 08:30:00,2009-03-23,13,2009-03-28 08:30:00.000115,2009-03-23,08:30:00,2001-01-01 06:12:40,06:12:40,2001-01-01
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,03/26/2015 19:10:00,Jumanji (1995),Adventure|Children's|Fantasy,3,978302109,2015-03-26 19:10:00,2015,3,26,19,10,0,4,2015-03-26 19:10:00,2015-03-26,13,2015-03-31 19:10:00.000115,2015-03-26,19:10:00,2001-01-01 06:35:09,06:35:09,2001-01-01
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,01/07/2007 07:45:00,Grumpier Old Men (1995),Comedy|Romance,3,978301968,2007-01-07 07:45:00,2007,1,7,7,45,0,7,2007-01-07 07:45:00,2007-01-07,1,2007-01-12 07:45:00.000115,2007-01-07,07:45:00,2001-01-01 06:32:48,06:32:48,2001-01-01
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,04/18/2005 00:10:00,Waiting to Exhale (1995),Comedy|Drama,4,978300275,2005-04-18 00:10:00,2005,4,18,0,10,0,1,2005-04-18 00:10:00,2005-04-18,16,2005-04-23 00:10:00.000115,2005-04-18,00:10:00,2001-01-01 06:04:35,06:04:35,2001-01-01
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,02/25/2009 09:40:00,Father of the Bride Part II (1995),Comedy,5,978824291,2009-02-25 09:40:00,2009,2,25,9,40,0,3,2009-02-25 09:40:00,2009-02-25,9,2009-03-02 09:40:00.000115,2009-02-25,09:40:00,2001-01-07 07:38:11,07:38:11,2001-01-07

### 处理时间字段

#### 拆分时间段：年、月、日、小时、分钟、 星期、季度
#### 日期偏移：
#### 日期区间切片：

In [11]:
from datetime import datetime,timedelta

### 将时间戳time_stamp 转化为datetime格式

In [17]:
data['Timestamp_1'] = data['timestamp_1'].apply(lambda x: datetime.fromtimestamp(x))

### 将日期字符串转化为datetime格式

#### 基于pandas datetime方法

In [14]:
data['Timestamp'] = data['timestamp'].apply(lambda x: pd.to_datetime(x))

#### 基于datetime.strptime()方法

In [15]:
data['Timestamp1'] = data['timestamp'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y %H:%M:%S'))

### 将datetime格式转化为日期字符串
http://strftime.org/

In [28]:
data['date_str'] = data['Timestamp'].apply(lambda x: datetime.strftime(x,'%Y-%m-%d'))

### 从datetime格式中提取日期部 和 时间部

In [18]:
data['date1'] = data['Timestamp'].apply(lambda x:x.date())
data['date2'] = data['Timestamp_1'].apply(lambda x:x.date())

In [19]:
data['time1'] = data['Timestamp'].apply(lambda x:x.time())
data['time2'] = data['Timestamp_1'].apply(lambda x:x.time())

### 从datetime格式中提取年月日小时分钟秒

In [ ]:
data['year'] = data['Timestamp'].apply(lambda x:x.year)
data['month'] = data['Timestamp'].apply(lambda x:x.month)
data['day'] = data['Timestamp'].apply(lambda x:x.day)
data['hour'] = data['Timestamp'].apply(lambda x:x.hour)
data['minute'] = data['Timestamp'].apply(lambda x:x.minute)
data['second'] = data['Timestamp'].apply(lambda x:x.second)

### 从datetime格式中提取星期、第几周

In [21]:
data['weekday'] = data['Timestamp'].apply(lambda x:x.weekday()+1)

In [38]:
data['week_num'] = data['Timestamp'].apply(lambda x:x.week)

### 根据时间条件对数据切片，范围：2005-12-31到2007-12-31之间的数据

In [ ]:
data_test = data.loc[(data['Timestamp']>datetime(2005,12,31))&(data['Timestamp']<datetime(2007,12,31)),:]

# 同样也可以
# data_test = data[(data['Timestamp']>datetime(2005,12,31))&(data['Timestamp']<datetime(2007,12,31))]

### 时间偏移
-  'years', 'months', 'weeks', 'days','hours', 'minutes', 'seconds',microseconds
-  'year', 'month', 'week', 'day', 'hour', 'minute', 'second', 'microsecond','weekday'

In [58]:
# pandas 包
from pandas.tseries.offsets import *

str1 = '04/26/2018 08:30:00'
pd_pk = pd.to_datetime(str1)

### 日期偏移5天后，同时增加115毫秒

In [57]:
data['data_offset1'] = data['Timestamp'].apply(lambda x:x + DateOffset(days = 5,microseconds= 115))

### 月初 月末

In [ ]:
pd_pk + DateOffset(days = 1-pd_pk.day)
pd_pk + DateOffset(months = 1, days = -pd_pk.day)

### 季初 季末

In [ ]:
pd_pk + DateOffset(months = -((pd_pk.month - 1) % 3),days = 1-pd_pk.day)
pd_pk + DateOffset(months =3 - ((pd_pk.month - 1) % 3), days = -pd_pk.day)

### 年初 年末

In [41]:
pd_pk + DateOffset(years = 1- pd_pk.month ,days = 1-pd_pk.day)
pd_pk + DateOffset(years =1 ,months =1 - pd_pk.month, days = -pd_pk.day)

Timestamp('2018-12-31 08:30:00')

In [52]:
pd_pk + Day(5)
pd_pk + DateOffset(months = -5,days = 5,hours =10,minutes = 15,seconds = 15,microseconds= 115)

Timestamp('2017-12-01 18:45:15.000115')

In [56]:
pd_pk + DateOffset(months=1,days = -pd_pk.day)

Timestamp('2018-04-30 08:30:00')

### 计算两个日期间的间隔天数、月数date1 与date2

In [31]:
data['date_gap'] = data.apply(lambda x:(x['date2'] - x['date1']),axis = 1).apply(lambda x: x/np.timedelta64(1,'D'))