### Step1: 导入必要的库

In [1]:
import numpy as np #科学计算
import pandas as pd #数据分析

### Step2:数据读取

数据的存储格式有更多种，是不是我们要掌握所有的方式呢？ 答案自然是否定的！
我们这里只需要掌握最常用3种即可。
- csv
- xlsx
- pickle

剩下的在需要时查看文档或者百度即可。Pandas 的文档非常详细，因此要习惯看文档，常看文档！

* 查看帮助文档(两种方式)
 - 1. 百度官网：https://pandas.pydata.org/docs/user_guide/io.html
 - 2. 命令方式：两个？ or help()

In [2]:
# jupyter 下 函数后面加两个问好
pd.read_csv??
# help(pd.read_csv)

### 2.1. CSV

#### 2.1.0 基础用法

从csv中数据读取./input/Titanic.csv数据

In [3]:
data_train = pd.read_csv("../input/titanic.csv")

将数据写入practice_data.csv

In [4]:
data_train.to_csv("../input/pratice_data.csv")

In [5]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 2.1.1 精细化参数设置

读取数据表：
1. 不带列名
2. 以 | 分隔 
3. 读取时赋予列名

In [6]:
df_names = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [7]:
data_train = pd.read_csv("../input/pratice_data_v1.csv",
                  sep ='|',   # 以竖线分隔
                  header =None, # 无列名
                  names = df_names  # 读取时赋予列名
                  )

保存数据表：
1. 不带列名
2. 以 | 分隔 
3. 不保存索引列

In [8]:
data_train.to_csv("../input/pratice_data_v1.csv",
                  sep ='|',   # 以竖线分隔
                  header =True, # 不要列名
                  index = False) # 不保存索引列

#### 2.1.2 进阶提高【选学】

其他用法如：
1. 读取时，指定数据表列的数据类型 `参数：dtype`
2. 循环遍历数据表（当数据量上G，非常大时可以使用）`参数：chunksize`

感兴趣的小伙伴可以先自行探索。具体内容在advance中介绍

### 2.2. Excel

可能需要安装 xlrd / openpyxl
* !pip install xlrd  openpyxl

#### 2.2.0   基础用法
读取./input/pratice_data.xlsx中的data页数据

In [9]:
data_train = pd.read_excel('../input/pratice_data.xlsx',sheet_name = 'data')

写入excel文件的 data页

In [10]:
data_train.to_excel('../input/pratice_data.xlsx',sheet_name = 'data')

####  2.2.1 将多个数据表写入1个excel文件

In [11]:
writer = pd.ExcelWriter('../input/pratice_data_v1.xlsx')
data_train.to_excel(writer,sheet_name = 'data')
data_train.to_excel(writer,sheet_name = 'data_copy')
writer.save()

### 2.3. pickle

**pickle 是 Python支持的二进制存储格式，读取速度快！** 而且你可以将**任意**数据类型给存储为`pkl`格式。如：列表、字典、集合等等。

非常方便、我平时用的很多，特别在保存模型过程数据和模型文件时。

#### 2.3.0 基础用法

读取以pickle保存的 datafrmae 数据表

In [12]:
data_train = pd.read_pickle('../input/pratice_data.pkl')

将数据表保存为 pkl 格式

In [13]:
data_train.to_pickle('../input/pratice_data.pkl')

#### 2.3.1 更通用用法
下列函数可以保存，方便后续使用

In [14]:
import pickle

def dump_pickle(data,dir):
    with open(dir,'wb') as f:
        pickle.dump(data,f,protocol=4)

def load_pickle(dir):
    with open(dir,'rb') as f:
        out_file = pickle.load(f)
    return out_file

#### 2.3.2 保存列表
其他数据类型可以

In [15]:
cust_age = data_train.Age.tolist()

读取pickle 格式列表

In [16]:
cust_age = load_pickle('../input/cust_age.pkl')

将列表保存为pickle格式

In [17]:
dump_pickle(cust_age,'../input/cust_age.pkl')