# 3.数据合并(Sort  & Fliter & Delete)                             


#### 笨办法学 Python 数据分析  / learn data analysis the hard way
- @Author：知行并重
- @公众号：知行并重
- @Github 代码：https://github.com/kevin-meng/learn-data-analysis-the-hard-way

## 目录
- 数据选取（切片）
    - a.按位置、b.按条件、c.按字段类型 选取
- 数据排序
    - 升降序
    - 生成序号
- 数据删除（重复数据）
    - **判断**重复数据
    - **显示**重复数据
    - **删除**重复数据
- 索引操作

### Step1: 导入必要的库

In [42]:
import pandas as pd #数据分析
import numpy as np #科学计算

data = pd.read_csv("../input/titanic.csv")

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 一、 数据选取

## 1.1 按照位置选取

### 选取第500行以后的数据

In [45]:
temp = data[500:]
# temp.head()

### 选取500行以后且第3列之后数据


采用 `DataFrame.iloc` 按照索引位置选取

In [46]:
temp = data.iloc[500:,3:]
temp.head()

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,"Calic, Mr. Petar",male,17.0,0,0,315086,8.6625,NaN,S
501,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q
502,"O'Sullivan, Miss. Bridget Mary",female,NaN,0,0,330909,7.6292,NaN,Q
503,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S
504,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.5000,B79,S

## 1.2 按照条件选取数据

### 选取 'Survived', 'Ticket' 两列

In [9]:
temp = data[['Survived', 'Ticket']]

### 选取Embarked = S 的数据

按条件选取数据，最新的pandas接口 采用 `DataFrame.loc` o方法 .
[官方文档](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html?highlight=loc#pandas.DataFrame.loc)

In [10]:
temp = data.loc[data['Embarked']=='S',:]

### 选取Embarked = S 且 SibSp =1 的样本PassengerId 和 Survived数据

In [11]:
temp = data.loc[(data['Embarked']=='S')&(data['SibSp']==1),['PassengerId','Survived']]

### 选取Cabin 在cabin_list的所有数据

- cabin_list =['C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20']

In [12]:
cabin_list =['C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30', 'D20']

In [13]:
temp = data.loc[data['Cabin'].isin(cabin_list),:]

### 选取Cabin <font color=red>不在</font>cabin_list的所有数据

In [14]:
temp = data.loc[~data['Cabin'].isin(cabin_list),:]

temp.head(2)

### 1.3 按照类型选取数据

In [40]:
#　 查看数值型特征
data.info()

### 选取所有数值型特征数据

In [17]:
num_data = data.select_dtypes(include = ['float64','int64'])
num_data.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

### 选取所有类别型特征数据

In [41]:
num_data = data.select_dtypes(include = ['object'])
num_data.head()

## 二、排序

### 对Age进行倒序排列

In [21]:
temp = data.sort_values(by =['Age'],ascending =False)

In [22]:
# data.sort_values??

In [23]:
# 排序后可以 直接赋值回去 
# data.sort_values(by =['Age'],ascending =False,inplace=True)
# data = data.sort_values(by =['Age'],ascending =False)

### 对'Age','Pclass' 进行排倒序 缺失值排在最前面

In [24]:
temp = data.sort_values(by = ['Age','Pclass'],ascending = False, na_position = 'first')

### 利用rank() 方法排序(掌握) 
返回对应数据的序号。体会不同参数的区别 method : {'average', 'min', 'max', 'first', 'dense'}

In [101]:
temp = data[['Age']].sample(10,random_state=18)

# 根据自己需要选择不同的参数, 可结合groupby 使用方式，取出每个人的船舱等级中年龄最大的三个乘客等等。
# pd.DataFrame.rank??

temp['age_rank_min'] = temp['Age'].rank(method='min')
temp['age_rank_max'] = temp['Age'].rank(method='max')
temp['age_rank_dense'] = temp['Age'].rank(method='dense')

In [104]:
temp.sort_values('Age')

      Age  age_rank_min  age_rank_dense  age_rank_max
63    4.0           1.0             1.0           2.0
184   4.0           1.0             1.0           2.0
9    14.0           3.0             2.0           3.0
539  22.0           4.0             3.0           4.0
134  25.0           5.0             4.0           7.0
442  25.0           5.0             4.0           7.0
370  25.0           5.0             4.0           7.0
83   28.0           8.0             5.0           8.0
847  35.0           9.0             6.0           9.0
669   NaN           NaN             NaN           NaN

## 三、去重

### 统计重复数量 

### 计算 数据中不同性别和年龄 ['Sex','Age'] 重复数据量

In [27]:
sub_data = data[['Sex','Age']]

In [28]:
# 运用 `DataFrame.duplicated` 方法
sub_data.duplicated().sum()

744

### 统计非重复数量

In [47]:
dup_num = len(data) - sub_data.duplicated().sum()
dup_num

147

### 显示重复的行数

In [48]:
sub_data[sub_data.duplicated()]

        Sex   Age
14   female  14.0
16     male   2.0
17     male   NaN
20     male  35.0
25   female  38.0
..      ...   ...
886    male  27.0
887  female  19.0
888  female   NaN
889    male  26.0
890    male  32.0

[744 rows x 2 columns]

### 剔重操作
### 剔除  'Sex','Age' 的重复数据 temp

运用 `pd.DataFrame.drop_duplicates` 方法

In [35]:
temp = data.drop_duplicates([ 'Sex','Age' ],keep = 'first')
# sub_data.drop_duplicates(['Age'],keep = 'last',inplace =False)

temp.shape

In [37]:
# 注：
# 1. 一般的数据删除操作。
del sub_data;
# gc.collect() # 强制垃圾回收
# 2. 替换（指针）

## 四、索引操作

### 将temp索引 变为列

### 将temp PassengerId 列 变设置为索引

In [55]:
temp.set_index('PassengerId',inplace = True)
temp

其他关于索引的操作 比如多重索引的选取操作，后续再谈

# 谢谢观看
![](../pics/thankyou.png)