## Feature Enginnering (变量衍生)

### Step1: 导入必要的库

In [4]:
import pandas as pd #数据分析
import numpy as np #科学计算

## 一、数据读取

In [9]:
data = pd.read_csv("../input/titanic.csv")

In [10]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 二. 衍生变量

`特征工程` 是从数据建模中借用过来的一个概念. 它是指 在已有数据上去衍生出根据目标指向性的变量, 已提升最终的模型效果的过程.

同样,在数据分析中, 我们也需要在已有数据的基础上去加工出新的列.  下面具体我将从衍生变量`依赖的变量数据目`,两个方面来介绍.

学习本节你可能需要掌握一些基础的 python 操作.

### 2.1 单变量

当仅仅依赖一个列变量进行加工时.

#### 2.1.1 文本字符串

#### 2.1.2 离散型

#### 2.1.3 连续型

### 2.2 多变量

#### 离散型——字符变量
* 字符串处理：大小写
* 字符串截取、分割
    + 按位置
    + 正则表达式
* 字符串变换：合并、归类、LabelEncoder、One-Hot
#### 连续型
* 归一化、正交化
* 离散化：分箱

### 数据字符串变量
* 字符串处理：大小写
* 字符串截取、分割
    + 按位置
    + 正则表达式
* 字符串变换：合并、归类、LabelEncoder、One-Hot

### 用正则表达式提取 Name中的头衔
#### 基于字符串提取 extract

In [5]:
data_train['Initial'] = 0 
for i in data_train:
    data_train['Initial'] = data_train.Name.str.extract('([A-Za-z]+)\.')

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

#### 字符串截取  （正则表达式 基于apply findall）

In [12]:
#调用 apply函数 
# findall()[0] 返回列表
import re
data['Initial']=data['Name'].apply(lambda x: re.findall("([A-Za-z]+)\.",x)[0]) #lets extract the Salutations

#### 字符串截取  （ 基于apply split）

In [13]:
# 调用map函数  用字符串分割方法
data[ 'Initial' ] = data[ 'Name' ].map( lambda name: name.split( ',' )[1].split( '.' )[0].strip() )

In [14]:
# 调用map函数  用字符串分割方法
data[ 'Initial1' ] = data[ 'Name' ].apply( lambda name: name.split( ',' )[1].split( '.' )[0].strip() )

In [15]:
data.head().T

,0,1,2,3,4
PassengerId,1,2,3,4,5
Survived,0,1,1,1,0
Pclass,3,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry"
Sex,male,female,female,female,male
Age,22,38,26,35,35
SibSp,1,1,0,1,0
Parch,0,0,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450
Fare,7.25,71.2833,7.925,53.1,8.05
Cabin,NaN,C85,NaN,C123,NaN
Embarked,S,C,S,S,S
Initial,Mr,Mrs,Miss,Mrs,Mr
Initial1,Mr,Mrs,Miss,Mrs,Mr

### 统计不同头衔Initial 的出现频数

In [8]:
data_train['Initial'].value_counts(dropna = False)

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Major             2
Ms                2
Mlle              2
Mme               1
Sir               1
Don               1
Lady              1
Capt              1
the Countess      1
Jonkheer          1
Dona              1
Name: Initial, dtype: int64

In [9]:
da = data_train['Initial'].value_counts()
temp =da.to_frame().reset_index()
temp.to_pickle("title_counts.pkl")

In [10]:
dat = pd.read_pickle("title_counts.pkl")

### 衍生变量

####  Name

### 取出Name字段中包含 Major的数据

In [11]:
data_train[data_train['Name'].str.contains("Major")]  #contains查看数据

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,...,Ticket,timestamp,title,genres,rating,timestamp_1,Initial,Name_length,Title,Family_Size
id,,,,,,,,,,,,,,,,,,,,,
449,52.0,C104,S,30.50,"Peuchen, Major. Arthur Godfrey",0,450,1,male,0,...,113786,09/04/2011 11:20:00,For Love or Money (1993),Comedy,2,978245829,Major,30,Officer,1
536,45.0,B38,S,26.55,"Butt, Major. Archibald Willingham",0,537,1,male,0,...,113050,09/09/2005 22:14:33,Sliver (1993),Thriller,5,978234786,Major,33,Officer,1

### 计算 Name字符串长度 生成Name_length字段

In [12]:
data_train['Name_length'] =data_train['Name'].apply(len)

### 对Name_length字段 进行归一化 (StandardScaler)

In [13]:
from sklearn.preprocessing import StandardScaler
data_train['Name_scaled'] = StandardScaler().fit_transform(data_train['Name_length'].reshape(-1,1))

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

### 因子型分箱(对Title 变量分箱)

In [14]:
#map 替换有多个类型 情况
title_dict = {
        "Capt":       "Officer",
        "Col":        "Officer",
        "Major":      "Officer",
        "Jonkheer":   "Royalty",
        "Don":        "Royalty",
        "Sir" :       "Royalty",
        "Dr":         "Officer",
        "Rev":        "Officer",
        "the Countess":"Royalty",
        "Dona":       "Royalty",
        "Mme":        "Mrs",
        "Mlle":       "Miss",
        "Ms":         "Mrs",
        "Mr" :        "Mr",
        "Mrs" :       "Mrs",
        "Miss" :      "Miss",
        "Master" :    "Master",
        "Lady" :      "Royalty"
}
data_train['Title'] = data_train['Initial'].map(title_dict)

### 将Initial 稀少因子 合并统计 (Mlle Ms-> Miss\ Mme-> Mrs) 
#首先替换少数称呼

In [15]:
data_train['Initial'] = data_train['Initial'].replace('Mlle','Miss')
data_train['Initial'] = data_train['Initial'].replace('Ms','Miss')
data_train['Initial'] = data_train['Initial'].replace('Mme','Mrs')

### 将Initial 中出现频次小于40的 索引 提取出来

In [16]:
temp = data_train['Initial'].value_counts(dropna=False)
rare_title1 = list(temp[temp<40].index)  # 查看不加index 情况

### 将Initial 中 下面称呼全部更名为 Rare 赋给字段Title2
'Dr', 'Rev', 'Col', 'Major', 'Capt', 'the Countess', 'Jonkheer', 'Sir', 'Lady', 'Don'

In [17]:
rare_title2= ['Dr', 'Rev', 'Col', 'Major', 'Capt', 'the Countess', 'Jonkheer', 'Sir', 'Lady', 'Don']
data_train['Title2'] = data_train['Initial'].replace(rare_title1, 'Rare')

### 统计Title中 的频次 包括NaN

In [18]:
# data_train['Initial'].value_counts(dropna=False)
data_train['Title'].value_counts(dropna =False)

Mr         757
Miss       262
Mrs        200
Master      61
Officer     23
Royalty      6
Name: Title, dtype: int64

### 将Title2进行数值化

In [19]:
title_mapping ={
    'Mr':1,
    'Miss':2,
    'Mrs':3,
    'Master':4,
    'Rare':5,
}
data_train['Title_train'] = data_train['Title2'].map(title_mapping)

### 根据Title2生成是否是Master的字段 W_Master(np.where)

In [27]:
#np.where 方法
data_train['W_Master'] = np.where(data_train['Title2']=='Master', 0, 1)

####  Age

### 连续型变量分箱(对Age分箱 0,16,32,48,64 分箱) 
#### 1.pd.cut

In [28]:
cut_points = [0,16,32,48,64,np.inf]
labels = [1,2,3,4,5]
data_train['Age_cut1']= pd.cut(data_train['Age'],cut_points,labels= labels,right =False) #默认右闭

#### 2.用条件划分 loc

In [29]:
data_train['Age_band']=0
data_train.loc[data_train['Age']<=16,'Age_band']=0
data_train.loc[(data_train['Age']>16)&(data_train['Age']<=32),'Age_band']=1
data_train.loc[(data_train['Age']>32)&(data_train['Age']<=48),'Age_band']=2
data_train.loc[(data_train['Age']>48)&(data_train['Age']<=64),'Age_band']=3
data_train.loc[data_train['Age']>64,'Age_band']=4
# data_train.head(2)

### 5等分  pd.cut -生成 CategoricalAge 字段

In [30]:
data_train['CategoricalAge'] = pd.cut(data_train['Age'], 5)

### 统计CategoricalAge 字段取值出现频次

In [31]:
data_train['CategoricalAge'].value_counts(dropna =False)

(16.136, 32.102]    524
(32.102, 48.068]    269
NaN                 263
(0.0902, 16.136]    134
(48.068, 64.034]    106
(64.034, 80.0]       13
Name: CategoricalAge, dtype: int64

###  对Age变量进行正交化 生成Age_Scaled字段
#### 连续变量数值幅度变化过大，采用正交化，降低对模型干扰 ，包括Fare变量（极端值->不好归一化）

In [26]:
from sklearn.preprocessing import StandardScaler
data_train['Age_scaled'] = StandardScaler().fit_transform(data_train['Age'].reshape(-1,1))
data_train.head()
# data_train.drop('temp',axis =1, inplace =True)

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

####  Fare

### 连续变量 Fare进行分箱 7.91\14.454\31 生成FareCut

In [32]:
data_train['FareCut'] = data_train['Fare'] 
data_train.loc[data_train['FareCut']<=7.91,'FareCut']  					                 = 0
data_train.loc[(data_train['FareCut']>7.91) & (data_train['FareCut']<=14.454),'FareCut'] = 1
data_train.loc[(data_train['FareCut']>14.454) & (data_train['FareCut']<=31),'FareCut']   = 2
data_train.loc[data_train['FareCut']>31,'FareCut'] 					                     = 3

### 对Fare 进行正交化

In [33]:
data_train['Fare_scaled'] = StandardScaler().fit_transform(data_train['Fare'].reshape(-1,1))

C:\ProgramData\Anaconda2\envs\gluon_py3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

**<font color=blue>数据格式化</font>**<br>

### 对于浮点数Fare 规范小数点位数(2位)

In [34]:
data_train['Fare_scale'] = data_train['Fare'].apply(lambda x: '%.2f' %x)
data_train['Fare_scale'].head()

id
0     7.25
1    71.28
2     7.92
3    53.10
4     8.05
Name: Fare_scale, dtype: object

####  Sex

### 对Sex 进行Encode (replace)

In [35]:
data_train['Sex_bool']=data_train['Sex'].replace({'male':0,'female':1})
data_train['Sex'].replace({'male':0,'female':1},inplace = True)
data_train['Sex'].astype(int)  # 真正替换

id
0       0
1       1
2       1
3       1
4       0
5       0
6       0
7       0
8       1
9       1
10      1
11      1
12      0
13      0
14      1
15      1
16      0
17      0
18      1
19      1
20      0
21      0
22      1
23      0
24      1
25      1
26      0
27      0
28      1
29      0
       ..
1279    0
1280    0
1281    0
1282    1
1283    0
1284    0
1285    0
1286    1
1287    0
1288    1
1289    0
1290    0
1291    1
1292    0
1293    1
1294    0
1295    0
1296    0
1297    0
1298    0
1299    1
1300    1
1301    1
1302    1
1303    1
1304    0
1305    1
1306    0
1307    0
1308    0
Name: Sex, Length: 1309, dtype: int32

#### Cabin

###  根据Cabin 是否缺失 生成 Has_Cabin 字段
#### apply 替换只有两个类型 情况
#### 把有值和无值作为衍生变量，因为数值分散，缺失值较多

In [36]:
data_train['Has_Cabin'] = data_train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

#### SibSp  +  Parch

### 组合SibSp 和 Patch 字段 生成Family_Size 字段

In [37]:
data_train['Family_Size'] = data_train["SibSp"] + data_train['Parch'] + 1

### 根据Family_Size 是否为1 生成IsAlone 字段

In [38]:
data_train['IsAlone'] = 0
data_train.loc[data_train['Family_Size'] == 1,'IsAlone'] = 1

### 对Embarked 字段 数值化 Encode 0,1,2,-1

#### Embarked

In [39]:
data_train['Embarked'] = data_train['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2, np.nan: -1}).astype(int)

#### 统计Embarked字段出现频次

In [40]:
data_train.Embarked.value_counts(dropna =False)

 0    914
 1    270
 2    123
-1      2
Name: Embarked, dtype: int64

## One-Hot编码

### 对 Embarked 进行One-Hot编码 添加前缀 Cabin 生成数据Embarked_dummies

In [41]:
Embarked_dummies = pd.get_dummies(data_train['Embarked'],prefix ='Cabin')

### 对 Title2进行One-Hot编码 添加前缀 Title 生成数据Title2_dummies

In [42]:
Title2_dummies = pd.get_dummies(data_train['Title2'],prefix ='Title')

### 将 Embarked_dummies 和Title2_dummies 拼回原数据

In [43]:
df1 = pd.concat([data_train,Embarked_dummies, Title2_dummies],axis = 1)

#### drop 原数据 df1中的 Embarked 和  Title2列

In [44]:
df1.drop(['Embarked','Title2'],axis = 1,inplace = True )

### 或者用 sklearn  中的方法 进行One_Hot_Encode

In [50]:
from sklearn.preprocessing import  LabelEncoder, OneHotEncoder

cat_vars = ['Embarked','Title2']
for col in cat_vars:
    data_train[col + 'ch'] = LabelEncoder().fit_transform(data_train[col])

data_train.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,...,Age_band,CategoricalAge,FareCut,Fare_scale,Sex_bool,Has_Cabin,IsAlone,Embarkedch,Title2ch,test
id,,,,,,,,,,,,,,,,,,,,,
0,22.0,NaN,0,7.2500,"Braund, Mr. Owen Harris",0,1,3,0,1,...,1,"(16.136, 32.102]",0.0,7.25,0,0,0,1,2,9.2500
1,38.0,C85,1,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,1,1,...,2,"(32.102, 48.068]",3.0,71.28,1,1,0,2,3,145.5666
2,26.0,NaN,0,7.9250,"Heikkinen, Miss. Laina",0,3,3,1,0,...,1,"(16.136, 32.102]",1.0,7.92,1,0,1,1,1,9.9250
3,35.0,C123,0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,1,1,...,2,"(32.102, 48.068]",3.0,53.10,1,1,0,1,3,109.2000
4,35.0,NaN,0,8.0500,"Allen, Mr. William Henry",0,5,3,0,0,...,2,"(32.102, 48.068]",1.0,8.05,0,0,1,1,2,19.1000

In [ ]:
LabelEncoder().fit_transform(data_train['Title2'])

### 根据多列情况进行衍生

In [47]:
def change_fun(x,y):
    if x>2:
        return x + 2*y
    else:
        return x + y

In [49]:
data_train['test'] = data_train.apply(lambda x:change_fun(x['Age_cut1'],x['Fare']),axis = 1)